# Environnement Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Données nettoyées (générées par le notebook)
data_clean/

# Fichiers système Windows
Thumbs.db
desktop.ini

# VS Code
.vscode/